<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>UI_Map_Btn_Alliance.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 181}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_Build.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 2}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_BuildSoldiers.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 86}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_Gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 276}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_GoldSmall.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 176}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_Info.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 271}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_PVPAndPVE.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 112}</string>
			<key>spriteSourceSize</key>
			<string>{110, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 97}, {110, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_RequestSoldiers.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 176}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_Shop.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {110, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{110, 112}</string>
			<key>spriteSourceSize</key>
			<string>{110, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 62}, {110, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_UpSoldiers.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 207}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_Water.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 271}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_WaterSmall.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 93}</string>
			<key>spriteSourceSize</key>
			<string>{94, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 211}, {94, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Btn_add.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 31}</string>
			<key>spriteSourceSize</key>
			<string>{31, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 111}, {31, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Defense.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 48}</string>
			<key>spriteSourceSize</key>
			<string>{44, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 56}, {44, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_DownArticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {206, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{206, 31}</string>
			<key>spriteSourceSize</key>
			<string>{206, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {206, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Farmers.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 48}</string>
			<key>spriteSourceSize</key>
			<string>{41, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 106}, {41, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 45}</string>
			<key>spriteSourceSize</key>
			<string>{44, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 86}, {44, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_GoldArticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {202, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{202, 25}</string>
			<key>spriteSourceSize</key>
			<string>{202, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 2}, {202, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Level.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 47}</string>
			<key>spriteSourceSize</key>
			<string>{44, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 62}, {44, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_LevelArticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {202, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{202, 25}</string>
			<key>spriteSourceSize</key>
			<string>{202, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 29}, {202, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_NumDownArticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 28}</string>
			<key>spriteSourceSize</key>
			<string>{140, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 56}, {140, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_PVPNum.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 47}</string>
			<key>spriteSourceSize</key>
			<string>{44, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 62}, {44, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_Water.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 47}</string>
			<key>spriteSourceSize</key>
			<string>{40, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 133}, {40, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_WaterArticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {202, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{202, 25}</string>
			<key>spriteSourceSize</key>
			<string>{202, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 35}, {202, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Map_gem.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 49}</string>
			<key>spriteSourceSize</key>
			<string>{37, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 156}, {37, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>