<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>enemy_redbat_death_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{36, 2}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {36, 30}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{36, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 2}, {36, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {36, 30}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{36, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 2}, {36, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 2}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 2}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {40, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{40, 28}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 2}, {40, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {40, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{40, 28}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 2}, {40, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {40, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{40, 26}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 2}, {40, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {40, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{40, 26}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 2}, {40, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {32, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 24}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 2}, {32, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_death_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {24, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{24, 20}</string>
			<key>spriteSourceSize</key>
			<string>{40, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 2}, {24, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 26}, {46, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{46, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 2}, {46, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 25}, {42, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{42, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 74}, {42, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 25}, {58, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{58, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 74}, {58, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {62, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{62, 84}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 74}, {62, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {52, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 94}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 74}, {52, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {44, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{44, 94}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 74}, {44, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_down_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 15}, {52, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{52, 80}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 74}, {52, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 25}, {40, 70}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{40, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 74}, {40, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {38, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{38, 72}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 74}, {38, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 22}, {44, 74}}</string>
			<key>spriteOffset</key>
			<string>{-5, -11}</string>
			<key>spriteSize</key>
			<string>{44, 74}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 74}, {44, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {46, 86}}</string>
			<key>spriteOffset</key>
			<string>{-6, -5}</string>
			<key>spriteSize</key>
			<string>{46, 86}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 74}, {46, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 0}, {42, 96}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{42, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 170}, {42, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {36, 96}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{36, 96}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 170}, {36, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_right_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {40, 82}}</string>
			<key>spriteOffset</key>
			<string>{-4, -6}</string>
			<key>spriteSize</key>
			<string>{40, 82}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 170}, {40, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 26}, {46, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{46, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 170}, {46, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 25}, {42, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{42, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 170}, {42, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 25}, {58, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{58, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 170}, {58, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {62, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{62, 84}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 170}, {62, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {52, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{52, 94}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 170}, {52, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 2}, {44, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{44, 94}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 170}, {44, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy_redbat_run_up_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 15}, {52, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{52, 80}</string>
			<key>spriteSourceSize</key>
			<string>{78, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 170}, {52, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>