<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>special_tower_barbarian_attack_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 25}, {68, 50}}</string>
			<key>spriteOffset</key>
			<string>{13, -10}</string>
			<key>spriteSize</key>
			<string>{68, 50}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {68, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_attack_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 30}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{14, -13}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 2}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_attack_right_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 27}, {70, 48}}</string>
			<key>spriteOffset</key>
			<string>{14, -11}</string>
			<key>spriteSize</key>
			<string>{70, 48}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 2}, {70, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_attack_right_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 28}, {72, 48}}</string>
			<key>spriteOffset</key>
			<string>{15, -12}</string>
			<key>spriteSize</key>
			<string>{72, 48}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 2}, {72, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_attack_right_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 15}, {56, 58}}</string>
			<key>spriteOffset</key>
			<string>{7, -4}</string>
			<key>spriteSize</key>
			<string>{56, 58}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 2}, {56, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 9}, {64, 62}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{64, 62}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 2}, {64, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 11}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 2}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 15}, {64, 56}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{64, 56}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 66}, {64, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 13}, {64, 58}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{64, 58}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 66}, {64, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 14}, {64, 58}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{64, 58}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 66}, {64, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 19}, {64, 52}}</string>
			<key>spriteOffset</key>
			<string>{6, -5}</string>
			<key>spriteSize</key>
			<string>{64, 52}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 66}, {64, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 36}, {72, 42}}</string>
			<key>spriteOffset</key>
			<string>{14, -17}</string>
			<key>spriteSize</key>
			<string>{72, 42}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 66}, {72, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 42}, {72, 38}}</string>
			<key>spriteOffset</key>
			<string>{15, -21}</string>
			<key>spriteSize</key>
			<string>{72, 38}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 66}, {72, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_death_09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 36}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{15, -18}</string>
			<key>spriteSize</key>
			<string>{72, 44}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 66}, {72, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 11}, {60, 62}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{60, 62}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 126}, {60, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 9}, {62, 64}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{62, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 126}, {62, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 8}, {60, 64}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{60, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 126}, {60, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {56, 66}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{56, 66}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 126}, {56, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 2}, {54, 70}}</string>
			<key>spriteOffset</key>
			<string>{-6, 3}</string>
			<key>spriteSize</key>
			<string>{54, 70}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 126}, {54, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 3}, {58, 70}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{58, 70}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 126}, {58, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_pre_attack_right_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {60, 70}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{60, 70}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 126}, {60, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 13}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 126}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 12}, {66, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{66, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 198}, {66, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 11}, {66, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{66, 62}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 198}, {66, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 9}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 198}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {62, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 66}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 198}, {62, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 9}, {60, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 198}, {60, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 9}, {60, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 198}, {60, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 12}, {56, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{56, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 198}, {56, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 13}, {56, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{56, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 198}, {56, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 12}, {56, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{56, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 266}, {56, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 11}, {58, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{58, 62}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 266}, {58, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 9}, {62, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{62, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 266}, {62, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 7}, {62, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 66}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 266}, {62, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 9}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 266}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 9}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 266}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {66, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{66, 62}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 266}, {66, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 12}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 334}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_run_right_18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {62, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{62, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 334}, {62, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>special_tower_barbarian_wait_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 13}, {62, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{62, 60}</string>
			<key>spriteSourceSize</key>
			<string>{104, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 334}, {62, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>